header,
footer,
#pagelogo,
#previous-week,
#next-week,
.date-chooser,
#date-chooser-submit,
#logout{display: none}

body:before{
    box-shadow: none !important
}
.single-day-full, .classic-box{
    border: 1px solid #444 !important;
    box-shadow: none !important
}
.single-entry{
    border: 1px solid #444
}
.single-week{
    box-shadow: none !important
}
.single-day-activity{margin-left: 0 !important}
.single-day-activity:before{background: none !important}